@font-face {
  font-family: 'RammettoOne';
  src: url(./assets/fonts/RammettoOne-Regular.ttf);
}
@font-face {
  font-family: 'RussoOne';
  src: url(./assets/fonts/RussoOne-Regular.ttf);
}

body {
  font-family: 'RussoOne', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 40px 20px;
  /* display: flex;
  flex-direction: column; */
}

.title {
  font-family: 'RammettoOne';
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 1px 1px red, 0 0 1em rgb(255, 255, 0);
}

.bayan-wrap {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 600px;
}

.bayan {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  min-height: 0;
  column-gap: 50px;
  font-size: 30px;
  padding: 20px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
  overflow: hidden;
}

.bayan::after {
  content: '';
  background: url(./assets/img/plus-solid.svg) center no-repeat;
  width: 22px;
  height: 22px;
  opacity: 0;
  transition: all 0.1s;
}

.bayan:focus {
  min-height: 320px;
  color: red;
  border-color: red;
}

.bayan:focus::after {
  transform: rotate(-45deg);
}

.bayan-img {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ccc;
  border-radius: 20px;
  transition: all 0.3s;
}

.img_1 {
  background: url(./assets/img/1.png) center/contain no-repeat;
}
.img_2 {
  background: url(./assets/img/2.png) center/contain no-repeat;
}
.img_3 {
  background: url(./assets/img/3.jpg) center/contain no-repeat;
}
.img_4 {
  background: url(./assets/img/4.jpg) center/contain no-repeat;
}
.img_5 {
  background: url(./assets/img/5.png) center/contain no-repeat;
}

.bayan:focus .bayan-img {
  display: block;
}

.bayan-wrap:hover .bayan::after {
  opacity: 1;
}

@media (min-width: 821px) {
  .bayan:hover {
    color: red;
    min-height: 320px;
    border-color: red;
  }

  .bayan:hover::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: 820px) {
  .bayan::after {
    opacity: 1;
  }

  .title {
    font-size: 34px;
  }

  .bayan {
    font-size: 22px;
  }
}
